/*Страница катлог*/
.catalog-item{
	display: flex;
}

.catalog-img{
	margin-right: 15px;
}

.catalog-image{
	width: 250px;
	position: relative;
	top: 7px;
}

.catalog-text{

}

.catalog-filtr{
	display: flex;
}

.catalog-btn{
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 5px;
	position: relative;
	bottom: 1px;
	padding: 2.5px;
	border-color: #C0C0C0;
}

.catalog-link{
	text-decoration: none;
	color: #C0C0C0;
}

.catalog-link:hover{
	color: #A9A9A9;
}

.catalog-line{
 	color: black;
}

.catalog-category{
	color: :;
	margin: 5px 0;
}

/*Главная страница*/

.main-title{
	margin-bottom:-7px ;
}

.main-description{
	
}

/*Страница просмотра*/

/*Страница просмора фильма фильма*/

.show-container{
	margin-top: -23px;
}

.show-head{
	padding-top: 15px;
	display: flex;
}

.show-text{
	margin-left: 15px;
}

.show-title{
	margin-bottom:5px;
}

.show-link{
	text-decoration: none;
	color: black;
}

.show-link:hover{
	color: silver;
}

.show-orig-title{
	color: gray;
}

.show-img{
	width: 24%;
}

@media (max-width: 575.98px) {
 .show-img{
 	width: 40%;
 }
}
@media (max-width: 767.98px) {
 .show-img{
 	width: 40%;
 }
}
@media (max-width: 991.98px) {

}
@media (max-width: 1199.98px) {

}
@media (max-width: 1399.98px) {

}

/*Админка*/

.admin-btn{
	height: 40px;

}

.admin-display{
	display: flex;
	justify-content: space-between;
}