/*Страница катлог*/
.catalog-item{
	display: flex;
}

.catalog-img{
	margin-right: 15px;
}

.catalog-image{
	width: 250px;
	position: relative;
	top: 7px;
}

.catalog-text{
}

.catalog-card{
	display: flex;
}

.catalog-filtr{
	display: flex;
}

@media (max-width: 767.98px) {
	.catalog-card{
		display: grid;
		grid-template-rows: auto;
	}
	.form-catalog-btn{
		width: 486px;
	}
}

.catalog-btn{
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 5px;
	position: relative;
	bottom: 1px;
	padding: 2.5px;
	border-color: #C0C0C0;
}

.catalog-link{
	text-decoration: none;
	color: #C0C0C0;
}

.catalog-link:hover{
	color: #A9A9A9;
}

.catalog-line{
 	color: black;
}

.catalog-category{
	margin: 5px 0;
}

/*Главная страница*/
.main-title{

}

.main-description{
	
}

/*Страница просмора фильма*/

.show-container{
	margin-top: -23px;
}

.show-head{
	padding-top: 15px;
	display: flex;
}

.show-text{
	margin-left: 15px;
}

.show-title{
	margin-bottom:5px;
}

.show-link{
	text-decoration: none;
	color: black;
}

.show-link:hover{
	color: silver;
}

.show-orig-title{
	color: gray;
}

.show-img{
	width: 24%;
}

@media (max-width: 575.98px) {
 .show-img{
 	width: 40%;
 }
}
@media (max-width: 767.98px) {
 .show-img{
 	width: 40%;
 }
}


/*Админка*/

.admin-btn,
.admin-btn-link{
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  padding: -0.600rem 0.75rem;
  font-size: 0.9rem;
  border-radius: 0.25rem;
	position: relative;
	bottom: 2px;
}

.admin-btn-link{
 margin-right: 60px;
 padding: 3px 5px;
}

.admin-search{
	position: relative;
	bottom:2px;
}

.admin-display{
	display: flex;
	justify-content: space-between;
}

.left-admin-display-item{
	display: 	flex	;
}

.admin-display-item{
	margin-right: 4px;
}

@media (max-width: 767.98px) {
		
}

